# Ignore plugins (these should be loaded in tmux.conf.local)
# If necessary, load them up and type prefix-I to install
tmux/plugins/

# Ignore tmux resurrections
tmux/resurrect/

# Ignore some things in vim/
vim/black


# Ignore some things in zsh/
.env
